*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 171.875rem;
}
img{
    display: block;
    height: auto;
}